{% extends "base.html" %}


{% block title %}
To Do App : Create New Task
{% endblock %}

{% block content %}
<div>
    <h1>todo.</h1>
    <h2>Create New Task</h2>
    <form action = "/tasks/create" method = "post">
        <div>
            <label for="taskName">Task Name:</label>
            <input name="taskName" id="taskName" type="text" required minlength="3"/>

        </div>

        <div>
            <label for="description">password:</label>
            <input name="description" id="description" type="text" required/>

        </div>

        <div>
            <input type="submit" value="create task" />
        </div>

    </form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <p> <a href="/dashboard"> back to dashboard </a></p>
</div>
{% endblock %}