{% extends "base.html" %}


{% block title %}
To Do App : sign-in
{% endblock %}

{% block content %}
<div>
    <h1>todo.</h1>
    <h2>sign-in</h2>
    <form action = "/auth/authoriseUser" method = "post">
        <div>
            <label for="username">username:</label>
            <input name="username" id="username" type="text" />

        </div>

        <div>
            <label for="password">password:</label>
            <input name="password" id="password" type="password" />

        </div>
        <div>
            <input type="submit" value="sign-in" />
        </div>

    </form>

    <p>No account? <a href="/signup"> click here to sign up </a></p>
</div>

{% endblock %}