{% extends "base.html" %}


{% block title %}
To Do App : sign-in
{% endblock %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename = 'styles/signinandup.css') }}">
{% endblock %}



{% block content %}
<div class = "container">
    <h1 class="title">todo.</h1>
    <h2 class = "subtitle">sign-in</h2>
    <form action = "/auth/authoriseUser" method = "post">
        <div>
            <!-- <label for="username">username:</label> -->
            <input name="username" id="username" type="text" placeholder="Username"/>

        </div>

        <div>
            <!-- <label for="password">password:</label> -->
            <input name="password" id="password" type="password"placeholder="Password" />

        </div>
        <div>
            <input type="submit" value="sign-in" />
        </div>

    </form>

    <p>No account? <a href="/signup"> click here to sign up </a></p>
</div>

{% endblock %}