{% extends "base.html" %}


{% block title %}
To Do App : sign-up
{% endblock %}

{% block content %}
<div>
    <h1>todo.</h1>
    <h2>sign-up</h2>
    <form action = "/auth/createuser" method = "post">
        <div>
            <label for="username">username:</label>
            <input name="username" id="username" type="text" required minlength="3"/>

        </div>

        <div>
            <label for="password">password:</label>
            <input name="password" id="password" type="password" required minlength = "8"/>

        </div>
        <div>
            <label for="repassword">re-enter password:</label>
            <input name="repassword" id="repassword" type="password" required minlength = "8"/>

        </div>
        <div>
            <input type="submit" value="sign-up" />
        </div>

    </form>
    <p>already have an account? <a href="/signin"> click here to sign in </a></p>
</div>
{% endblock %}