{% extends "base.html" %}


{% block title %}
To Do App : sign-up
{% endblock %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename = 'styles/signinandup.css') }}">
{% endblock %}

{% block content %}
<div class = "container">
    <h1 class = "title">todo.</h1>
    <h2 class = "subtitle">sign-up</h2>
    <form action = "/auth/createuser" method = "post">
        <div>
            <!-- <label for="username">username:</label> -->
            <input name="username" id="username" type="text" required minlength="3" placeholder="Username"/>

        </div>

        <div>
            <!-- <label for="password">password:</label> -->
            <input name="password" id="password" type="password" required minlength = "8" placeholder="Password"/>

        </div>
        <div>
            <!-- <label for="repassword">re-enter password:</label> -->
            <input name="repassword" id="repassword" type="password" required minlength = "8"placeholder="Re-Enter Password"/>

        </div>
        <div>
            <input type="submit" value="sign-up" />
        </div>

    </form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <p>already have an account? <a href="/signin"> click here to sign in </a></p>
</div>
{% endblock %}