body{
    background-color: var(--main-bg-colour);
    color: var(--main-fg-colour);
    font-family: Arial, Helvetica, sans-serif;
}

h1{

    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary-fg-colour)
}